{% extends "./rest_framework/base.html" %}

{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <style>
        html.dark {
            background-color: #2f2f2f;
        }

        .dark body {
            color: #fff;
        }

        .navbar {
            background: #000000b6;
        }

        .dark .navbar {
            background: #00000059;
        }

        .dark pre,
        .dark .prettyprint,
        .dark .breadcrumb,
        .dark .form-control,
        .dark select.form-control {
            background-color: #1b1b1b;
            color: rgb(223, 223, 223);
        }

        .dark .well.tab-content,
        .dark .nav-tabs li.active a {
            background-color: #1b1b1b;
        }

        .dark .well.tab-content * {
            color: rgb(223, 223, 223);
        }

        .dark .lit,
        .dark .kwd,
        .dark .pln {
            color: #61bdff;
        }

        .darkmode-toggle {
            padding: 20px;
        }

    </style>
{% endblock %}